# USAC Event data 2005 - 2015
#### USA Cycling event data.

I got started looking at USAC data becuase I was interested in the results of the 2015/16 USA Cyclocross nationals. Steve Tilfrd accused the officials of incoretly enforcing the 80% rule. see http://stevetilford.com/2016/01/07/the-good-bad-and-ugly-cyclocross-nationals/
I got side track and started getting details on all events and thought I would look at this a bit first.

As is always the case this data is not perfect, it may be incomplete and or incorrect.
This data set includes all events, road, cross, mtb, track.... any competative event.

### Top event Directors

In [5]:
import pandas as pd
df = pd.read_csv("data/usac_event_2005_2015.csv")

In [9]:
dg = df.groupby('director')['director'].count()
dg.sort_values(ascending=False).head(10)

director
David Berger           254
Robert Leibold         209
Tim Molyneaux          123
Don Edberg             119
Brian Holzhausen        97
William 'JR' Petsko     84
Neal Boyd               75
Laszlo Vajtay           65
Chip Berezny            62
Richard Ruoff           61
Name: director, dtype: int64

### Top states

In [8]:
ds = df.groupby('state')['state'].count()
ds.sort_values(ascending=False).head(5)

state
CA    1347
TX     819
PA     813
NY     800
NJ     575
Name: state, dtype: int64

In [ ]:
### How about a Choropleth map now.

In [4]:
from data_tools import states_name_abbr

In [5]:
states_name_abbr

{'Alabama': 'AL',
 'Alaska': 'AK',
 'American Samoa': 'AS',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Guam': 'GU',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'National': 'NA',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Northern Mariana Islands': 'MP',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Puerto Rico': 'PR',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virgin Islands': 'VI',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}