# USAC Event data 2005 - 2015
#### USA Cycling event data.

I got started looking at USAC data becuase I was interested in the results of the 2015/16 USA Cyclocross nationals. Steve Tilfrd accused the officials of incoretly enforcing the 80% rule. see http://stevetilford.com/2016/01/07/the-good-bad-and-ugly-cyclocross-nationals/
I got side track and started getting details on all events and thought I would look at this a bit first.

As is always the case this data is not perfect, it may be incomplete and or incorrect.
This data set includes all events, road, cross, mtb, track.... any competative event.

In [1]:
# Setup
import pandas as pd
import sqlite3
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
from data_tools import states_abbr
matplotlib.style.use('ggplot')

con = sqlite3.connect("data/usac.db")
df = pd.read_sql_query("SELECT * from event", con)
con.close()

### Top event Directors

In [2]:
dg = df.groupby('director')['director'].count()
dg.sort_values(ascending=False).head(10)

director
Robert Leibold         410
David Berger           253
                       205
Don Edberg             111
Tim Molyneaux          106
Tom Spiegel             95
Brian Holzhausen        90
William 'JR' Petsko     74
Neal Boyd               72
Laszlo Vajtay           65
Name: director, dtype: int64

### Top states

In [5]:
ds = df[df['state'].isin(states_abbr)]
ds = ds.groupby('state')['state'].count()
ds.sort_values(ascending=False).head(25)
#plt.figure()
#ds.sort_values(ascending=False).hist(bins=50)

state
CA    1212
PA     803
NY     761
TX     755
NJ     547
NC     536
FL     534
CO     488
AZ     473
IL     432
TN     418
WI     408
GA     389
OH     387
VA     375
IN     373
MO     354
MI     342
KS     333
IA     308
WA     304
ID     295
OK     295
AR     286
MD     274
Name: state, dtype: int64

### How about a Choropleth map now.

In [4]:
from data_tools import states_name_abbr

In [5]:
states_name_abbr

{'Alabama': 'AL',
 'Alaska': 'AK',
 'American Samoa': 'AS',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Guam': 'GU',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'National': 'NA',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Northern Mariana Islands': 'MP',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Puerto Rico': 'PR',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virgin Islands': 'VI',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}